@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using Softuni.Community.Data.Models.Enums
@model Softuni.Community.Web.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome <span class="display-4 h1">to</span></h1>
        <h1 class="display-4">Softuni <span class="display-4 h1">C<img src="~/images/earthIcon.png" width="30px" height="30px">mmunity</span></h1>
        <p><a asp-area="Identity" asp-controller="Account" , asp-action="Register">Join</a> our developer community today!</p>
    </div>
}
else
{
    <div class="row w-100 mx-auto">
        <div class="col-9 p-5">
            <h2>Top Questions</h2>
            <div class="scrollable scrollableDiv p-3">
                @foreach (var question in Model.Questions)
                {
                    <div class="m-0 mt-4 mb-4 w-100 myHover">
                        <div class="row mx-auto">
                            <div class="text-center w-100">
                                <div class="col">
                                    <div>
                                        <h3>
                                            <a href="/Discussions/QuestionDetails/?Id=@question.QuestionId">
                                                @if (question.Title.Length > 30)
                                                {
                                                    @string.Join("", question.Title.Take(25));<span>...</span>
                                                }
                                                else
                                                {
                                                    @question.Title
                                                }
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questionStat w-100 row">
                            <div class="col-sm-1">
                                <p class="text-center m-0"><i class="fas fa-star"></i>: @question.Rating</p>
                            </div>
                            <div class="col-sm-1">
                                <p class="text-center m-0"><i class="fas fa-comments"></i>: @question.AnswerCount</p>
                            </div>
                            <div class="col-sm-3 row">
                                <p class="ml-3 mr-3 m-0"><i class="fas fa-hashtag"></i>:</p>
                                @if (question.Tags.Count > 1)
                                {
                                    foreach (var tag in question.Tags)
                                    {
                                        <span>/@tag</span>
                                    }
                                }
                                else
                                {
                                    <span>@string.Join("", question.Tags)</span>
                                }
                            </div>
                            <div class="col-sm">
                                <p class="text-left m-0">Category: @question.Category</p>
                            </div>
                            <div class="row ml-auto">
                                <p class="mr-3 m-0">@question.PublisherName</p>
                                <span class="mr-3">
                                    @if (question.PublisherPicture == null)
                                    {
                                        <i class="fas fa-user-circle"></i>
                                    }
                                    else
                                    {
                                        <img class="ProfilePictureSmall" src="@question.PublisherPicture"
                                             alt="NoImg" width="15px" height="15px" />
                                    }
                                </span>
                                <p class="m-0">@question.PublishTime.ToString("dd MMM yyyy")</p>
                            </div>
                        </div>
                        <hr class="line bg-dark" />
                    </div>
                }
            </div>
        </div>
        <div class="col-3 p-5">
            <h2>Top Jokes</h2>
            <div class="scrollable scrollableDiv p-3">
                @foreach (var joke in Model.Jokes)
                {
                    <div class="m-0 mt-4 mb-4 w-100 border-bottom border-dark">
                        <div class="p-0 m-0 text-left">
                            <a class="m-0 p-0 jokeLink" href="/Fun/Jokes/Details/?id=@joke.Id">@joke.Content</a>
                        </div>
                        <div class="row m-0 p-0 mt-2 ">

                            <div class="ml-4">
                                Category: @joke.Category
                            </div>
                            <div class="row m-0 p-0 ml-auto">
                                <span hidden>@joke.Id</span>
                                <p class="ml-auto likes m-0 p-0">@joke.Likes</p>
                                <span>:</span>
                                <button class="ratingBtn ratingUp" onclick="LikeJoke(this)">
                                    @if (joke.IsUserLikedJoke)
                                    {
                                        <i class="fas fa-thumbs-up liked"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-thumbs-up"></i>
                                    }
                                </button> |
                                <button class="ratingBtn ratingDown" onclick="DislikeJoke(this)">
                                    @if (joke.IsUserDislikedJoke)
                                    {
                                        <i class="fas fa-thumbs-down disliked"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-thumbs-down"></i>
                                    }
                                </button>
                                <span>:</span>
                                <p class="mr-auto dislikes m-0 p-0">@joke.Dislikes</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}