@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using Softuni.Community.Data.Models.Enums
@model Softuni.Community.Web.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome <span class="display-4 h1">to</span></h1>
        <h1 class="display-4">Softuni <span class="display-4 h1">C<img src="~/images/earthIcon.png" width="30px" height="30px">mmunity</span></h1>
        <p><a asp-area="Identity" asp-controller="Account" , asp-action="Register">Join</a> our developer community today!</p>
    </div>
}
else
{
    <div class="row w-100 mx-auto">
        <div class="col-3 p-5">
            <h2>Top Jokes</h2>
            <div class="scrollable scrollableDiv p-3">
                @foreach (var joke in Model.Jokes)
                {
                    <div class="m-0 mt-4 mb-4 w-100 border-bottom border-dark">
                        <div class="mx-auto text-left jokeLink">@joke.Content</div>
                        <div class="row m-0 p-0 mt-2 ">

                            <div class="ml-4">
                                Category: @joke.Category
                            </div>
                            <div class="row m-0 p-0 ml-auto">
                                <span hidden>@joke.Id</span>
                                <p class="ml-auto likes m-0 p-0">@joke.Likes</p>
                                <span>:</span>
                                <button class="ratingBtn ratingUp" onclick="LikeJoke(this)">
                                    @if (joke.IsUserLikedJoke)
                                    {
                                        <i class="fas fa-thumbs-up liked"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-thumbs-up"></i>
                                    }
                                </button> |
                                <button class="ratingBtn ratingDown" onclick="DislikeJoke(this)">
                                    @if (joke.IsUserDislikedJoke)
                                    {
                                        <i class="fas fa-thumbs-down disliked"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-thumbs-down"></i>
                                    }
                                </button>
                                <span>:</span>
                                <p class="mr-auto dislikes m-0 p-0">@joke.Dislikes</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}